{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 bg-white p-4 shadow rounded">
            <h3 class="text-center mb-4">🔐 Create an Account</h3>

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <!-- {{form.as_p}}
                <button type="submit">submit</button> --> 
                <div class="form-group">
                    <label for="id_username">Username</label>
                    {{ form.username }}
                </div>

                <div class="form-group">
                    <label for="id_email">Email</label>
                    {{ form.email }}
                </div>

                <div class="form-group">
                    <label for="id_password">Password</label>
                    {{ form.password }}
                </div>
                
                <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
            </form>
            <p class="text-center mt-3">
                Already have an account? <a href="{% url 'login' %}">Login here</a>
            </p>
        </div>
    </div>
</div>

{% endblock %}
